.projectName-box {
  display: flex;
  flex-direction: row;
}
.projectName-box .projectName-img img {
  width: 62px;
  height: 80px;
}
.projectName-box .projectName-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.projectName-box .projectName-info .projectName-info-title {
  font-size: 16px;
  color: #4a4a4a;
}
.projectName-box .projectName-info .projectName-info-time,
.projectName-box .projectName-info .projectName-info-place {
  color: #9b9b9b;
  font-size: 14px;
}
.orders-link {
  color: #0a0808;
}
.orders-link:hover {
  color: #FF1268;
}
